<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>

    <main class="container mt-5">
      <div class="jumbotron text-center">
        <h1 class="display-4 mb-4">Welcome to the <%=title%> Page</h1>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="./Assets/images/foc.jpeg" alt="" />
                    <div class="card-body">
                      <p class="card-text">Conducted focus group for Tesla to derive on a business objective</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="./Assets/images/sap.jpeg" alt="" />
                    <div class="card-body">
                      <p class="card-text">Built multiple reports and forms for Mezzan and Romana waters</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="./Assets/images/mob.jpeg" alt="" />
                    <div class="card-body">
                      <p class="card-text">Designed a mobile app called Hi-way for deaf and dumb community</p>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </main>



    <!--Script section-->
    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>