<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!-- This part has been taken from bootstrap for the styling and edited accroding to the project needs -->
<main class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4 mb-4"><%=title%> Offered</h1>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="./Assets/images/business.jpeg" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Business Analytics</h5>
                  <p class="card-text">Analyzed the market and contributed to the growth of companies by predicting the trend and market demands.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="./Assets/images/qual.jpeg" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Qualitative Research</h5>
                  <p class="card-text">I have 2 years of experience as a qualitative researcher where I have conducted various focus groups for the business.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="./Assets/images/customer.jpeg" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Customer Handling</h5>
                  <p class="card-text">Well-versed in communicating with clients and building long-term relationships with them.</p>
                </div>
              </div>
            </div>
          </div>
  </div>
</main>

 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

